# Homework Composite Data Structure

## Tech
a. Composite dict & list<br>
b. f-string<br>

## Tasks

a. 以 dict 儲存下列 10 位學生資料，並印出 Bill 的身高體重<br>
<tt><font color='blue'>Bill's height: 168cm, weight:70kg</font></tt>

b. 依姓名、身高、體重各以一個 list 儲存下列 10 位學生資料，並印出 Larry 的身高體重<br>
<tt><font color='blue'>
n = ['David', 'John', …]<br>
h = [180, 172, …]<br>
w = [85, 72, …]<br>
Larry's height: 160cm, weight:64kg
</font></tt>

## Data
<br>
<tt>
David&nbsp;&nbsp;&nbsp;&nbsp;180cm 85kg<br>
John&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;172cm 72kg<br>
Mary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;158cm 51kg<br>
Lora&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;160cm 49kg<br>
Bill&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;168cm 70kg<br>
Elsa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;154cm 55kg<br>
Golden&nbsp;&nbsp;&nbsp;176cm 69kg<br>
Jason&nbsp;&nbsp;&nbsp;&nbsp;182cm 77kg<br>
Larry&nbsp;&nbsp;&nbsp;&nbsp;160cm 64kg<br>
Michelle 155cm 57kg<br>
</tt>

### a. 以 dict 儲存下列 10 位學生資料，並印出 Bill 的身高體重
<tt><font color='blue'>Bill's height: 168cm, weight:70kg</font></tt>

In [ ]:
d1 = [{'n': 'David', 'h': 180, 'w': 85},
      {'n': 'John', 'h': 172, 'w': 72},
      {'n': 'Mary', 'h': 158, 'w': 51},
      {'n': 'Lora', 'h': 160, 'w': 49},
      {'n': 'Bill', 'h': 168, 'w': 70},
      {'n': 'Elsa', 'h': 154, 'w': 55},
      {'n': 'Golden', 'h': 176, 'w': 69},
      {'n': 'Jason', 'h': 182, 'w': 77},
      {'n': 'Larry', 'h': 160, 'w': 64},
      {'n': 'Michelle', 'h': 155, 'w': 57}
     ]
print(d1)

i = 4
print(f'{d1[4]["n"]}\'s height: {d1[4]["h"]}cm, weight: {d1[4]["w"]}kg')

In [ ]:
d2 = {'David': {'h': 180, 'w': 85},
     'John': {'h': 172, 'w': 72},
     'Mary': {'h': 158, 'w': 51},
     'Lora': {'h': 160, 'w': 49},
     'Bill': {'h': 168, 'w': 70},
     'Elsa': {'h': 154, 'w': 55},
     'Golden': {'h': 176, 'w': 69},
     'Jason': {'h': 182, 'w': 77},
     'Larry': {'h': 160, 'w': 64},
     'Michelle': {'h': 155, 'w': 57}}
print(d2)

name = 'Bill'
print(f'{name}\'s height: {d2[name]["h"]}cm, weight: {d2[name]["w"]}kg')

In [ ]:
d3 = {'David': {'h': {'unit': 'cm', 'value': 180}, 'w': {'unit': 'kg', 'value': 85}},
     'John': {'h': {'unit': 'cm', 'value': 172}, 'w': {'unit': 'kg', 'value': 72}},
     'Mary': {'h': {'unit': 'cm', 'value': 158}, 'w': {'unit': 'kg', 'value': 51}},
     'Lora': {'h': {'unit': 'cm', 'value': 160}, 'w': {'unit': 'kg', 'value': 49}},
     'Bill': {'h': {'unit': 'cm', 'value': 168}, 'w': {'unit': 'kg', 'value': 70}},
     'Elsa': {'h': {'unit': 'cm', 'value': 154}, 'w': {'unit': 'kg', 'value': 55}},
     'Golden': {'h': {'unit': 'cm', 'value': 176}, 'w': {'unit': 'kg', 'value': 69}},
     'Jason': {'h': {'unit': 'cm', 'value': 182}, 'w': {'unit': 'kg', 'value': 77}},
     'Larry': {'h': {'unit': 'cm', 'value': 160}, 'w': {'unit': 'kg', 'value': 64}},
     'Michelle': {'h': {'unit': 'cm', 'value': 155}, 'w': {'unit': 'kg', 'value': 57}}}
print(d3)

name = 'Bill'
print(f'{name}\'s height: {d3[name]["h"]["value"]}{d3[name]["h"]["unit"]}, '
      f'weight: {d3[name]["w"]["value"]}{d3[name]["w"]["unit"]}')

### b. 依姓名、身高、體重各以一個 list 儲存下列 10 位學生資料，並印出 Larry 的身高體重
<tt><font color='blue'>
n = ['David', 'John', …]<br>
h = [180, 172, …]<br>
w = [85, 72, …]<br>
Larry's height: 160cm, weight:64kg
</font></tt>

In [ ]:
n = ['David', 'John', 'Mary', 'Lora', 'Bill', 'Elsa', 'Golden', 'Jason', 'Larry', 'Michelle']
h = [180, 172, 158, 160, 168, 154, 176, 182, 160, 155]
w = [85, 72, 51, 49, 70, 55, 69, 77, 64, 57]

print(n)
print(h)
print(w)

In [ ]:
i = -2
print(f'{n[i]}\'s height: {h[i]}cm, weight: {w[i]}kg')

In [ ]:
target = 'Larry'
i = n.index(target)
print(f'{n[i]}\'s height: {h[i]}cm, weight: {w[i]}kg')